/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    --match-parent-size: 100%;
    --primary-color: #3b82f6;
    --color: #22d3ee;
    --highlight-keyword-color: #ff00ae;
    --background-color: #222;

    --theme: var(--default);
    --default: linear-gradient(to right, #222, #222), linear-gradient(180deg, #8F41E9, #578AEF);
    --mystic-violet-blue-gradient: linear-gradient(to right, #222, #222), linear-gradient(135deg, #c850c0, #4158d0);
    --sky-blue-gradient: linear-gradient(to right, #222, #222), linear-gradient(135deg, #a1c4fd, #c2e9fb);
    --magnificent-purple-red-gradient: linear-gradient(to right, #222, #222), linear-gradient(135deg, #ff9a9e, #fad0c4);
    --warm-sunlight-gradient: linear-gradient(to right, #222, #222), linear-gradient(135deg, #f6d365, #fda085);
    --natural-greenery-gradients: linear-gradient(to right, #222, #222), linear-gradient(135deg, #a8e063, #56ab2f);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈刀隶体 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/2ovIhn5Qg9gJ/EA0P4GuoCT68.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/2ovIhn5Qg9gJ/XdRwNENqPYG8.woff") format("woff");
    font-display: swap;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("//at.alicdn.com/wf/webfont/2ovIhn5Qg9gJ/SyxhtQGTL1GF.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/2ovIhn5Qg9gJ/ZV6nQNOEQQ6i.woff") format("woff");
    font-display: swap;
}